scikit-image
matplotlib
pandas
pillow
pytest
pyyaml
trimesh==2.37.7
h5py
plyfile
open3d
immutabledict
opencv-python==4.5.3.56
gin-config @ git+https://github.com/google/gin-config@243ba87b3fcfeb2efb4a920b8f19679b61a6f0dc
gym
# mujoco-py
glfw>=1.4.0
Cython>=0.27.2
imageio>=2.1.2
cffi>=1.10
fasteners~=0.15
# robosuite
numpy==1.20.0
numba>=0.52.0
scipy>=1.2.3
cmake